<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
    <servlet>
  	<servlet-name>LoginPage</servlet-name>
  	<display-name>LoginPage</display-name>
  	<description></description>
  	<servlet-class>LoginPage</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterPage</servlet-name>
  	<display-name>RegisterPage</display-name>
  	<description></description>
  	<servlet-class>RegisterPage</servlet-class>
  </servlet>
    <servlet-mapping>
  	<servlet-name>LoginPage</servlet-name>
  	<url-pattern>/LoginPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterPage</servlet-name>
  	<url-pattern>/RegisterPage</url-pattern>
  </servlet-mapping>
</web-app>
